@page "/Home"

<AuthorizeView>
	<Authorized>
		<PageTitle>Home</PageTitle>

		<div class="jumbotron jumbotron-fluid">
            <div class="row mb-3">
                <div class="col-12 col-md-6">
					<img src="/img/PayCred-LogoJPG.jpg" width="650" height="550" alt="" >
				</div>
				<div class="col-12 col-md-6 mt-2 mt-md-0">
					<h1 class="display-4"><strong>PayCred</strong></h1>
					<h4 class="display-4"><strong>Aplicación Web Para Prestamistas Informales</strong></h4>
					<h5 class="display-5">PayCred es una aplicación web de gestión de préstamos informales desarrollada para usureros, 
						para resolver sus necesidades.</h5>
					<strong>Copyright ©️ Anthony Brian Jiménez, Luis David Sánchez Ovalles 2022</strong>
				</div>
            </div>
        </div>

        @*<div class="row mb-3">
			<div class="col-12 col-md-6">
				<label class="form-label">Nombres</label>
				<input type="text" class="form-control" placeholder="Nombres del cliente" @bind-value="cliente.Nombres" />
			</div>
			<div class="col-12 col-md-6 mt-2 mt-md-0">
				<label class="form-label">Apellidos</label>
				<input type="text" class="form-control" placeholder="Apellidos del cliente" @bind-value="cliente.Apellidos" />
			</div>
		</div>*@

	</Authorized>
</AuthorizeView>
