@page "/TipoPrestamos"

@inject ClienteBLL clienteBLL
@inject TipoPrestamoBLL tipoPrestamoBLL

<div class="page">
	<div class="page-header">
		<div class="row align-items-center mw-100">
			<div class="col">
				<div class="mb-1">
					<ol class="breadcrumb" aria-label="breadcrumbs">
						<li class="breadcrumb-item"><a href="/Configurations">Configuraciones</a></li>
						<li class="breadcrumb-item active" aria-current="page"><a href="/TipoPrestamos">Tipo Préstamos</a></li>
					</ol>
				</div>
				<br />
				<div class="btn-list">
					<h2 class="page-title">
						<span class="text-truncate">Listado de Tipos Préstamos</span>
					</h2>
				</div>
			</div>
			<div class="col-auto">
				<div class="btn-list">
					<a href="/Configurations" class="btn btn-primary">
						<span class="oi oi-arrow-thick-left me-2"></span>Atrás
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="page-body">
		<div class="container-xl">
			<div class="card">
				<div class="card-body">
					<div class="accordion mb-3">
						<div class="accordion-item">
							<h2 class="accordion-header" style="background-color:#DDDDDD;">
								<button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true">
									Criterio de Búsqueda
								</button>
							</h2>
							<div id="collapse-1" class="accordion-collapse collapse mt-2" data-bs-parent="#accordion-example">
								<div class="accordion-body pt-0">

									<div class="row">
										<div class="col-12 col-md-2">
											<label class="form-label">Campo a buscar</label>
											<select class="form-select">
												<option value="Descripción">Descripción</option>
											</select>
										</div>
										<div class="col-12 col-md-2">
											<label class="form-label">Forma</label>
											<select class="form-select">
												<option value="Similitud">Similitud</option>
												<option value="Igualdad">Igualdad</option>
											</select>
										</div>
										<div class="col-12 col-md-8">
											<label class="form-label">Criterio</label>
											<input type="text" class="form-control" placeholder="Criterio del campo" />
										</div>
									</div>
									<div class="row">
										<div class="col mt-3 text-end">
											<button class="btn btn-primary">
												<span class="oi oi-magnifying-glass me-2"></span>Consultar
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th><button class="table-sort">Descripción</button></th>
									<th>Día de gracia</th>
									<th class="w-1"></th>
								</tr>
							</thead>
							<tbody class="table-tbody">
								@foreach (var item in tipoPrestamos)
								{
									<tr>
										<td>@item.Descripcion</td>
										<td>@item.DiaGracias</td>
										<td class="text-end">
											<div class="btn-list flex-nowrap">
												<a class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modal-edit" @onclick="() => LlenarTipoModificar(item.IdTipoPrestamo)"><i class="fa-solid fa-pen-to-square me-2"></i>Editar</a>
											</div>

										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal modal-blur fade" id="modal-edit" tabindex="-1" style="display: none;" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Tipo de préstamo</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row mb-3">
					<div class="col">
						<label class="form-label">Descripción</label>
						<input type="text" class="form-control" @bind-value="tipoPrestamo.Descripcion" disabled>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col">
						<label class="form-label">Día de gracia</label>
						<input type="number" class="form-control" @bind-value="tipoPrestamo.DiaGracias"/>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="w-100">
					<div class="row">
						<div class="col">
							<a href="#" class="btn w-100" data-bs-dismiss="modal">
								<i class="fa-solid fa-ban me-2"></i>Cancelar
							</a>
						</div>
						<div class="col">
							<a href="#" class="btn btn-success w-100" data-bs-dismiss="modal" @onclick="TipoModificar">
								<i class="fa-solid fa-floppy-disk me-2"></i>Guardar
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@code {
	List<TipoPrestamos> tipoPrestamos = new List<TipoPrestamos>();
	TipoPrestamos tipoPrestamo = new TipoPrestamos();

	protected override async Task OnInitializedAsync()
	{
		await LlenarLista();
	}

	private async Task LlenarLista()
	{
		tipoPrestamos = await tipoPrestamoBLL.GetList(x => true);
	}

	private async Task LlenarTipoModificar(int id)
	{
		tipoPrestamo = await Task.Run(() => tipoPrestamoBLL.Buscar(id));
	}

	private async Task TipoModificar()
	{
		var paso = await tipoPrestamoBLL.Guardar(tipoPrestamo);
		await LlenarLista();
	}

}