@inherits LayoutComponentBase
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager

<AuthorizeView>
	<Authorized>
		<body class="layout-fluid theme-light">
			<BlazoredToasts />
			<div class="page">
				<NavMenu />
				<div class="page-wrapper">
					<div class="container-xl mt-3">
						@Body
					</div>
				</div>
			</div>
		</body>
		<footer style="background-color:#DCDCDC">
			<div class="row text-center">

				<p>
					<i class="fa-solid fa-copyright"></i> Copyright PayCred 2022
				</p>

				<p>
					<i class="fa-solid fa-phone-flip"></i> Cel. 829-570-0330 / 829-458-7954
				</p>

				<p>
					<i class="fa-solid fa-location-dot"></i> San Francisco de Macorís,Duarte, Rep. Dom. 
				</p>
			</div>
		</footer>
	</Authorized>
	<NotAuthorized>
		<RedirectToLogin />
	</NotAuthorized>
</AuthorizeView>



